.App {
  width: 1119px;
  height: 150px;
  overflow: hidden;
}

.App>div{
  width: 150px;
  height: 120px;
  display: inline-block;
}

div {
  border: 1px solid #fff;
  margin:10px;
  text-align: left;
}
